html {
  height: 100%;
}
body {
 width: 800px;
 height: 100%;
}

header {
  background-color: #1d4387;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  font-style: italic;
  color: #dad049;
  display: run-in;
}
nav {
  float: left;
}
nav ul {
  background-color: black;
  padding: 20px;
  margin: 20px;
  float: left;
  font-size: 30px;
  font-style: normal;
  color: white;
  border-bottom: ;
  list-style-type: none;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  height: 25px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
}
a {
  color: #inherit;
}
section {
  width: 73%;
  display: inline-block;
  float: left;
}
aside {
  width: 17%;
  display: inline-block;
  background-color:;
  padding:;
  min-height: 100%;
}
aside ul {
  list-style-type: none;
}
footer {
  width: 790px;
  background-color:;
  color:;
  clear: both;
  display: block;
}
